.board-grid {
    display: grid;
    grid-template-columns: repeat(19, 1fr);
    grid-template-rows: repeat(19,minmax(50px,1fr));
}

.readonly-board {
    display: grid;
    grid-template-columns: repeat(19, minmax(10px,1fr));
    grid-template-rows: repeat(19,minmax(10px,1fr));
}

.profile-boards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 1rem;
}

.space-empty {
    background-color: #aaaaaa;
}

.space-black {
    background-color: #000000;
}

.space-white {
    background-color: #ffffff;
}

.page-hidden {
    display: none;
}

.header-el div {
    display: inline-block;
}
