:root {
    --awaiter-size: 5.5em;
}

@viewport {
    width: device-width ;
    zoom: 1.0 ;
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
}


.read-only-board {
    background-image: url("http://localhost:8888/raw/canvas.png");
    display: grid;
    grid-template-columns: repeat(19, minmax(10px,1fr));
    grid-template-rows: repeat(19,minmax(10px,1fr));
}

.profile-page {
    display: grid;
    grid-template-columns: 2fr 6fr 2fr;
    grid-template-rows: 1fr 8fr 1fr;
}

.profile-boards {
    display: grid;
    grid-template-columns: repeat(2, minmax(300px, 0.2fr));
    grid-template-rows: repeat(7, minmax(333px, 0.2fr));
    grid-gap: 2rem;
}

.profile-lpad {
    width: 100%;
    height: 100%;
}
.profile-rpad {
    width: 100%;
    height: 100%;
}

.space-empty {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    margin: 0;
    padding: 0;
    background-position: center center;
    outline: none;
}

.space-black {
    margin: 0;
    padding: 0;
    background-color: black;
    background-repeat:no-repeat;
    border: none;
    background-position: center center;
    outline: none;
}

.space-white {
    background-position: center center;
    border: none;
    margin: 0;
    padding: 0;
    background-color: white;
    background-repeat:no-repeat;
    outline: none;
}

.page-hidden {
    display: none;
}

.header-el div {
    display: inline-block;
}

.read-only-board-button {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0.4rem;
    top: 1.3rem;
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor:pointer;
    outline: none;
    overflow: hidden;
}

.aspect-ratio {
    padding-top: 75%;
}

.absolute-fill {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.read-only-container {
    background-image: url("http://localhost:8888/raw/canvas.png");
    width: 100%;
    position: relative;
    display: grid;
    grid-template-areas:
        "top top top top top top top top top top"
        "left board board board board board board board board right"
        "left board board board board board board board board right"
        "left board board board board board board board board right"
        "left board board board board board board board board right"
        "left board board board board board board board board right"
        "left board board board board board board board board right"
        "left board board board board board board board board right"
        "left board board board board board board board board right"
        "left board board board board board board board board right"
        "left board board board board board board board board right"
        "left board board board board board board board board right"
        "left board board board board board board board board right"
        "left board board board board board board board board right"
        "left board board board board board board board board right"
        "left board board board board board board board board right"
        "left board board board board board board board board right"
        "left board board board board board board board board right"
        "left board board board board board board board board right"
        "left board board board board board board board board right"
        "bottom bottom bottom bottom bottom bottom bottom bottom bottom bottom"
    "footer footer footer footer footer footer footer footer footer footer"
    "footer footer footer footer footer footer footer footer footer footer";
}

.board-container {
    grid-area: rgb-start / pad / rgb-end / gb-end;
    display: grid;
    grid-template-areas:
        "top top top top top top top top top top"
        "left board board board board board board board board right"
        "left board board board board board board board board right"
        "left board board board board board board board board right"
        "left board board board board board board board board right"
        "left board board board board board board board board right"
        "left board board board board board board board board right"
        "left board board board board board board board board right"
        "left board board board board board board board board right"
        "left board board board board board board board board right"
        "left board board board board board board board board right"
        "left board board board board board board board board right"
        "left board board board board board board board board right"
        "left board board board board board board board board right"
        "left board board board board board board board board right"
        "left board board board board board board board board right"
        "left board board board board board board board board right"
        "left board board board board board board board board right"
        "left board board board board board board board board right"
        "left board board board board board board board board right"
        "bottom bottom bottom bottom bottom bottom bottom bottom bottom bottom";
    background-image: url("http://localhost:8888/raw/canvas.png");
}

.board-footer {
    grid-area: footer;
}

.board-top {
    grid-area: top;
}

.board-left {
    grid-area: left;
}

.board-bottom {
    grid-area: bottom;
}
.board-right {
    grid-area: right;
}

.board-overlay {
    grid-area: board;
    height: 0;
    padding-top:100%;
    position: relative;
    background-image: repeating-linear-gradient(#000 0 1px, transparent 1px 100%), repeating-linear-gradient(90deg, #000 0 1px, transparent 1px 100%);
    background-size: 5.26% 5.25%;
}

.ro-board-canvas{
    grid-area: board;
}
.ro-board-grid {
    grid-area: board;
    height: 0;
    overflow: hidden;
    padding-top: 100%;
    position: relative;
    display: grid;
    grid-template-columns: repeat(19,minmax(5px,1fr));
    grid-template-rows: repeat(19,minmax(5px,1fr));
}

.board-grid button {
    border-radius: 50%;
}

.board-grid {
    height: 100%;
    width: 100%;
    bottom: 2.5%;
    right: 2.5%;
    position: absolute;
    grid-area: board;
    display: grid;
    grid-template-columns: repeat(19,minmax(5px,1fr));
    grid-template-rows: repeat(19,minmax(5px,1fr));
}

.play-page {
    display: grid;
    grid-template-columns: [left] 10px [cstart] 0.15fr [cgb-start] 0.4fr [pad] 1fr [gb-end] 0.4fr [rpad] 0.15fr [opponent-sb-end] 10px [right];
    grid-template-rows: [top] 10px [rgb-start] 0.8fr [rgb-end] 10px [bottom];
    gap:1vw ;
    width: 100%;
    height: 100%;
}

.sidebar-player {
    grid-area: top / cstart / rgb-end / cgb-start;
    width:100% ;
    height:100% ;
}


.sidebar-opponent {
    grid-area: top / rpad / rgb-end / opponent-sb-end;
}

.body-grid {
    gap: 0rem;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: [left] 10px [body-start] 1fr [rbody-end] 10px [right];
    grid-template-rows: [top] minmax(20px,0.03fr) [header-end] 0.97fr [cbody-end] 10px [bottom];
}

.header-el {
    grid-area: top / left / header-end / right;
}

.page-grid {
    grid-area: header-end / body-start / cbody-end / rbody-end;
}

.awaiters {
    width: 100%;
    height: 25%;
}

.approved-b-awaiter-student {
    background:url("http://localhost:8888/raw/student-present.png") no-repeat;
    cursor:pointer;
    border:none;
    width: var(--awaiter-size);
    height: var(--awaiter-size);
    background-size: cover;
    transform: scaleX(-1);
    float:left;
    outline: none;
}

.approved-w-awaiter-student {
    outline: none;
    background:url("http://localhost:8888/raw/student-present.png") no-repeat;
    cursor:pointer;
    border:none;
    width: var(--awaiter-size);
    height: var(--awaiter-size);
    background-size: cover;
    float:right;
}

.waiting-b-awaiter-student {
    background:url("http://localhost:8888/raw/student-waiting.png") no-repeat;
    outline: none;
    cursor:pointer;
    border:none;
    width: var(--awaiter-size);
    height: var(--awaiter-size);
    background-size: cover;
    transform: scaleX(-1);
    float: left;
}
.waiting-w-awaiter-student {
    background:url("http://localhost:8888/raw/student-waiting.png") no-repeat;
    cursor:pointer;
    border:none;
    width: var(--awaiter-size);
    outline: none;
    height: var(--awaiter-size);
    background-size: cover;
    float: right;
}

.hide-w-awaiter-student {
    display: none;
}
.hide-b-awaiter-student {
    display:none;
}

.approved-b-awaiter-teacher {
    background:url("http://localhost:8888/raw/teacher-present.png") no-repeat;
    cursor:pointer;
    outline: none;
    border:none;
    width: var(--awaiter-size);
    height: var(--awaiter-size);
    background-size: cover;
    float:left;
    margin-left: -2rem;
}
.approved-w-awaiter-teacher {
    background:url("http://localhost:8888/raw/teacher-present.png") no-repeat;
    outline: none;
    cursor:pointer;
    border:none;
    width: var(--awaiter-size);
    height: var(--awaiter-size);
    background-size: cover;
    float:right;
    transform: scaleX(-1);
    margin-right: -2rem;
}

.waiting-b-awaiter-teacher {
    background:url("http://localhost:8888/raw/teacher-waiting.png") no-repeat;
    cursor:pointer;
    border:none;
    width: var(--awaiter-size);
    outline: none;
    height: var(--awaiter-size);
    background-size: cover;
    float: left;
    margin-left: -2rem;
}
.waiting-w-awaiter-teacher {
    background:url("http://localhost:8888/raw/teacher-waiting.png") no-repeat;
    cursor:pointer;
    border:none;
    outline: none;
    transform: scaleX(-1);
    width: var(--awaiter-size);
    height: var(--awaiter-size);
    background-size: cover;
    float:right;
    margin-right: -2rem;
}

.hide-w-awaiter-teacher {
    display:none;
}

.hide-b-awaiter-teacher {
    display:none;
}

.sidebar-player-info {
    display:inline-block;
}

.sidebar-player-user {
    width:6vw ;
    height:6vw ;
    margin-right: .1vw ;
    margin-bottom: 1vw ;
}

.sidebar-player-teacher {
    width:4vw ;
    height:4vw ;
}

.sidebar-player-chat {
    width:100% ;
    height:60% ;
}

.sidebar-player-chat input {
    width:100% ;
    height:100% ;
}

.sidebar-opponent-info {
    display:inline-block;
}

.sidebar-opponent-user {
    width:6vw ;
    height:6vw ;
    margin-right: .1vw ;
    margin-bottom: 1vw ;
}

.sidebar-opponent-teacher {
    width:4vw ;
    height:4vw ;
}

.sidebar-opponent-chat {
    width:100% ;
    height:60% ;
}

.sidebar-opponent-chat input {
    width:100% ;
    height:100% ;
}
